.contextMenu {
  position: absolute;
  z-index: 9999; // fixme
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 10px 4px;
  border-radius: 4px;
  box-shadow: 0 9px 28px rgba(0, 0, 0, 0.05), 0 6px 16px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.12);
  background-color: #ffffff;
  font-size: 14px;
  //transition: all 0.3s;

  .menuItem {
    position: relative;

    .menuText {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 32px;
      cursor: pointer;
      box-sizing: border-box;
      padding: 0 6px;
      border-radius: 2px;


      &:hover {
        background-color: rgba(0, 0, 0, 0.03);
        border-radius: 4px;
      }
    }

  }

  .line{
    width: 100%;
    margin: 1px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .colorMenu {
    position: absolute;
    z-index: 9999; // fixme
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 10px 4px;
    border-radius: 4px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    font-size: 14px;

    .colorBox {
      display: flex;

      &:hover {
        background: none;
      }

      .fontColorItem {
        width: 24px;
        height: 24px;
        line-height: 24px;
        border-radius: 2px;
        margin-right: 4px;
        border: 1px solid #eee;
        box-sizing: border-box;
        text-align: center;
        margin-bottom: 4px;

        &:hover {
          border: 1px solid #ccc;
          cursor: pointer;
        }
      }

      .backColorItem {
        width: 24px;
        height: 24px;
        border-radius: 2px;
        margin-right: 4px;
        border: 1px solid #eee;
        box-sizing: border-box;
        margin-bottom: 4px;

        &:hover {
          border: 1px solid #ccc;
          cursor: pointer;
        }
      }
    }

    .clearBtn {
      text-align: center;
      cursor: pointer;
      width: 100%;
      &:hover {
        background-color: rgba(0, 0, 0, 0.03);
      }
    }
  }
}

