.porketEditor{
  width: 500px;
  height: 300px;
  margin-top: 50px;
  color: orange;
  background-color: rgb(218, 225, 255);
  padding: 40px;
  font-size: 20px;
  min-height: 150px;
  outline: 3px dashed rgb(0, 94, 128);
  border-radius: 20px;
  outline-offset: -20px;
  white-space: pre-wrap;
}